<h2>{{titlePage}}</h2>
<hr />

<div class="alerts col-md-5 mx-auto">

    <div class="alert alert-success" *ngIf="status === 'ok'">
        Tus datos se han actualizado correctamente
    </div>
    <div class="alert alert-danger" *ngIf="status === 'error'">
        algo salio mal :(
    </div>
</div>

<form class="col-md-5 mx-auto" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">

    <div class="form-group">
        <label for="name">Nombre: </label>
        <input type="text" name="name" id="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required
            pattern="[a-zA-Z]+">
        <small class="invalid-feedback d-block" *ngIf="name.invalid && name.touched">
            El nombre no es valido
        </small>
    </div>

    <div class="form-group">
        <label for="lastname">Apellido: </label>
        <input type="text" name="lastname" id="lastname" #lastname="ngModel" [(ngModel)]="user.lastname"
            class="form-control" required pattern="[a-zA-Z]+">
        <small class="invalid-feedback d-block" *ngIf="lastname.invalid && lastname.touched">
            El apellido no es valido
        </small>
    </div>

    <div class="form-group">
        <label for="email">Correo: </label>
        <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email" class="form-control"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        <small class="invalid-feedback d-block" *ngIf="email.invalid && email.touched">
            El email no es valido
        </small>
    </div>



    <input type="submit" value="Actualizar" class="btn btn-success" [disabled]="userEditForm.invalid">
</form>